

body {
    margin: 0;
    background-color: #121212;
    font-family: monospace;
    font-size: 1.7rem;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}


#text {
    width: 50%;
    text-align: center;
    padding: 1rem;
    animation: fadein 1s;
    
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}


input {
    width: 16rem;
    border: none;
    background-color: transparent;
    color: #39FF14;
    font-family: monospace;
    outline: none;
}

#btn {
    margin: 1rem auto 2rem;
}

@media (max-width: 47.9375em) {
    body {
        height: 100vh;
        font-size: 1.5rem;
        
    }

    #text {
        width: 70%;
        
    }

}

/* iPhone 5 only*/
@media screen and (device-aspect-ratio: 40/71) {
    body {
        font-size: 1.375em;
    }
}